// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––


//Margins
.ma-0 {
	margin: 0;
}

.ma-5 {
	margin: 5px;
}

.ma-10 {
	margin: 10px;
}

.ma-15 {
	margin: 15px;
}

.ma-20 {
	margin: 20px;
}

.ma-40 {
	margin: 40px;
}

.ma-cl-h {
	margin-left: 0;
	margin-right: 0;
}

.ma-cl-v {
	margin-top: 0;
	margin-bottom: 0;	
}

//Paddings
.pd-0 {
	padding: 0;
}

.pd-5 {
	padding: 5px;
}

.pd-10 {
	padding: 10px;
}

.pd-15 {
	padding: 15px;
}

.pd-20 {
	padding: 20px;
}

.pd-40 {
	padding: 40px;
}

.pd-cl-h {
	padding-left: 0;
	padding-right: 0;	
}

.pd-cl-v {
	padding-top: 0;
	padding-bottom: 0;	
}