// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––


//Margins
.ma-0 {
	margin: 0;
}

.ma-5 {
	margin: 5px;
}

.ma-10 {
	margin: 10px;
}

.ma-15 {
	margin: 15px;
}

//Paddings
.pd-0 {
	padding: 0;
}

.pd-5 {
	padding: 5px;
}

.pd-10 {
	padding: 10px;
}

.pd-15 {
	padding: 15px;
}