// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.center-text {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.border-radius {
  border-radius: $global-radius;
}

.uppercase {
  text-transform: uppercase; 
}
