// Grids
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

// For devices larger than 400px
@media (#{$bp-larger-than-mobile}) {
  .container {
    width: $container-width-larger-than-mobile;
    padding: 0;
  }
}

// For devices larger than 550px
@media (#{$bp-larger-than-phablet}) {
  .container {
    width: $container-width-larger-than-phablet;
  }
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
    margin-left: $column-margin;
  }
  
  .col-1:first-child,.col-2:first-child,.col-3:first-child,.col-4:first-child,.col-5:first-child,.col-6:first-child,.col-7:first-child,.col-8:first-child,.col-9:first-child,.col-10:first-child,.col-11:first-child,.col-12:first-child {
    margin-left: 0;
  }

  .col-1        { width: grid-column-width(1);  }
  .col-2        { width: grid-column-width(2);  }
  .col-3        { width: grid-column-width(3);  }
  .col-4        { width: grid-column-width(4);  }
  .col-5        { width: grid-column-width(5);  }
  .col-6        { width: grid-column-width(6);  }
  .col-7        { width: grid-column-width(7);  }
  .col-8        { width: grid-column-width(8);  }
  .col-9        { width: grid-column-width(9);  }
  .col-10       { width: grid-column-width(10); }
  .col-11       { width: grid-column-width(11); }
  .col-12       { width: 100%; margin-left: 0;  }


  // Offsets
  .col-offset-2     { margin-left: grid-offset-length(2);  }
  .col-offset-3     { margin-left: grid-offset-length(3);  }
  .col-offset-4     { margin-left: grid-offset-length(4);  }
  .col-offset-1     { margin-left: grid-offset-length(1);  }
  .col-offset-5     { margin-left: grid-offset-length(5);  }
  .col-offset-6     { margin-left: grid-offset-length(6);  }
  .col-offset-7     { margin-left: grid-offset-length(7);  }
  .col-offset-8     { margin-left: grid-offset-length(8);  }
  .col-offset-9     { margin-left: grid-offset-length(9);  }
  .col-offset-10    { margin-left: grid-offset-length(10); }
  .col-offset-11    { margin-left: grid-offset-length(11); }
}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Self Clearing Goodness

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
